@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

:root{
    --gold1:#F4BD76;
    --gold2:#F6CD8F;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.container {
    width: 90%;
    margin: 0 auto;
}

span {
    color: var(--gold1);
}

.hero {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526);
    position: relative; 
}

.nav__hero {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__nav {
    font-size: 30px;
    color: var(--gold1);   
}

.nav__top {
    display: flex;
}

#check {
    display: none;
}

.nav__items {
    margin: 0 1rem;
    position: relative;
}

.nav__items::before {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--gold2);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: all 0.5s;
}

.nav__items:hover::before{
    width: 100%;
}

.nav__items .cta {
    color: var(--gold1);
    font-weight: 700;
}

.nav__icon{
    display: none;
}

.links__items {
    font-size: 20px;
    color: #fff;
}

/* ---------------------------------- */

.hero__section {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url(./assets/img/bg.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.container__section {
    height: 100%;
    display: grid;
    grid-template-columns: .8fr 1fr;
}

.hero__section_logo,
.title__hero {
    display: flex;
    align-items: center;
}

.img__logo_section {
    width: 100%;
}

.title__hero {
    flex-direction: column;
    justify-content: center;
}

.title__hero h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
    color: var(--gold1);
}

.title__hero p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.title__hero span {
    font-size: 24px;
    margin-left: 5px;
}

/* ---------------MAIN -----------------*/

main {
    padding-top: 2em;
}

/* --------------Project---------------- */

.title__projects {
    text-align: center;
    font-size: 2.5rem;
    color: var(--black2);
}

.title__projects_text {
    margin-top: 1em;
    font-size: 18px;
    text-align: center;
}

.container__projects {
    padding-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 160px;
    grid-template-areas: 
    "img-1 img-2 img-3 img-3"
    "img-1 img-4 img-5 img-5"
    "img-6 img-6 img-5 img-5"
    ;
    gap: .5em;
}

.project__picture {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.project__picture::before {
    content: "Ver el carpi-project";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #232526;
    color: var(--gold2);
    transform: translate(100%);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 700;
}

.project__picture:hover::before {
    transform: translate(0%);
}

.picture-1 {
    grid-area: img-1;
}

.picture-2 {
    grid-area: img-3;
}

.picture-3 {
    grid-area: img-2;
}

.picture-4 {
    grid-area: img-4;
}

.picture-5 {
    grid-area: img-5;
}

.picture-6 {
    grid-area: img-6;
}

.project__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -----------About us ----------------------------- */

.about__us {
    margin-top: 2em;
    width: 100%;
    height: 100%;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);  
    background: linear-gradient(to right, #414345, #232526);
}

.about__us--modifier {
    padding: 2em 0;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.card__about__us {
    height: 400px;
    width: 250px;
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    gap: 1em;
}

.img__card {
    width: 100%;
    height: 100%;
    border-radius:50% ;
}

.info__card {
    padding-top: 2em;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.info__card span {
    font-size: 20px;
    font-weight: 500;
}

/*---------------------- Contact Section -----------------*/

/* App Section */
.container--modifier {
    padding: 2em 0;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.app__section {
    margin-top: .5em;
}

.app__section h2 {
    font-size: 30px;
    line-height: 1.1em;
    margin-bottom: 2em;
}

.app__section p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1em;
}

.app__section span {
    font-size: 40px;
    font-weight: 700;
}

.download__app {
    display: flex;
}

.download__item{
    margin-right: 10px;
    padding: 1em 2em;
    border: solid 2px var(--gold2);
    border-radius: 20px;
    background-color: var(--black2) ;
}

.link {
    display: flex;
    color: var(--gold1);
    align-items: center;
}

.download__item i {
    margin-right: 5px;
}

/* Contact section */

.contact__suscription h3 {
    font-size: 30px;
}

.contact__suscription span {
    font-size: 35px;
    font-weight: 700;
}

.contact__suscription input{
    margin: 10px;
    border: none;
    padding: 1em 4em;
    border-radius: 10px;
    color: var(--gold1);
    font-size: 15px;
    background-color: var(--black2);
    cursor: pointer;
}

.form__suscription input {
    border: none;
    padding: 1em;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    background: var(--black2);
}

.text__area{
    width: 100%;
    height: 100px;
    resize: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    background-color: var(--black2);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

/* ------------------------------------------------------- */

/* Footer */

.footer {
    border-top: solid 1px #dfdcdc80;
}

.container--footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 1em;
}


.footer__logo{
    display: flex;
    align-items: center;
}

.img__footer_logo {
    width: 200px;
    height: 150px;
}

.footer__logo h3 {
    font-size: 30px;
}

.politics {
    text-align: center;
}

.politics li {
    padding-bottom: 1em;
}

.politics a {
    color: var(--black1);
    font-size: 18px;
}

.politics a:hover {
    color: #F6CD8F;
    font-size: 20px;
    font-weight: 700;
}

.social__media {
    text-align: center;
}

.social__media li {
    padding-bottom: .5em;
}

.social__media i {
    font-size: 24px;
    color: var(--black2);
}

.social__media i:hover {
    font-size: 33px;
    color: #F4BD76;
}



@media screen and (max-width: 768px) {

    /* Nav */


    .nav__hero {
        height: 60px;
    }
    
    .title__nav {
        font-size: 23px;
        margin-left: 1em; 
    }

    .nav__top{
        display: none;
    }

    #check {
        display: none;
    }

    #check:checked ~ .nav__top {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        height: 60vh;
        width: 100%;
        transition: .3s;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: var(--black2);
    }
 
    .nav__items {
        margin: 2em 0;
    }

    .nav__items a {
        font-size: 19px;
    }
    
    .nav__items::before {
        display: block;
    }

    .nav__icon {
        display: block;
        cursor: pointer;
        font-size: 1.7em;
        color: #F4BD76;
        margin-right: 1em;
    }
    

    /* hero section */


    .hero__section {
        width: 100%;
        height: calc(100vh - 60px);
        background-image: none;
    }
    
    .container__section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
    }

 
    .img__logo_section {
        width: 95%;
        margin: 0 auto;
        transform: translateX(1.6em);
    }
    
    .title__hero h1 {
        font-size: 3rem;
        padding-bottom: 1rem;
        color: var(--gold1);
    }
    
    .title__hero p {
        font-size: 18px;
        font-weight: 400;
    }
    
    .title__hero span {
        font-size: 20px;
    }

    /* projects */

    .title__projects {
        text-align: center;
        font-size: 1.5rem;
        color: var(--black2);
    }

    .title__projects_text {
        font-size: 16px;
    }
    
    .container__projects {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 150px;
        grid-template-areas: 
        "img-1 img-1 "
        "img-2 img-3 "
        "img-4 img-4 "
        "img-5 img-6"
        ;
    }
    
    .project__picture::before {
        font-size: 18px;
        font-weight: 500;
    }
    
    .picture-1 {
        grid-area: img-6;
    }
    
    .picture-2 {
        grid-area: img-1;
    }
    
    .picture-3 {
        grid-area: img-2;
    }
    
    .picture-4 {
        grid-area: img-5;
    }
    
    .picture-5 {
        grid-area: img-4;
    }
    
    .picture-6 {
        grid-area: img-3;
    }
    

    /* app section */

    .container--modifier {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .app__section {
        margin-top: .5em;
    }
    
    .app__section h2 {
        font-size: 25px;
    }
    
    .app__section p {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 1em;
    }
    
    .download__app {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1em;
    }
    
    .download__item{
        margin-right: 0px;
        padding: .8em 1.3em;
    }

    /* Contact */

    .contact__suscription h3 {
        font-size: 25px;
        margin-bottom: 1em;
    }
    
    
    .contact__suscription input{
        font-weight: 700;
    }
    
    .text__area{
        height: 130px;
        margin: 10px 0;
    }

    /* Footer */

    
    .container--footer {
        grid-template-columns: 1fr;
        gap: 1em;
    }
    
    
    .footer__logo{
        flex-direction: column;
    }
    
    .img__footer_logo {
        width: 180px;
        height: 130px;
    }
    
    .footer__logo h3 {
        font-size: 25px;
    }
    
    .politics li {
        padding-bottom: 1em;
    }
    
    .politics a {
        font-size: 15px;
    }
    
    .politics a:hover {
        color: #F6CD8F;
        font-size: 18px;
        font-weight: 500;
    }

    .social__media ul {
        display: flex;
        justify-content: center;
    }
    
    .social__media i {
        margin: 0 10px;
        font-size: 25px;
    }

    .social__media i:hover {
        transform: translateY(-10px);
        font-size: 30px;
        color: #F4BD76;
    }
    
}

